h1 {
  font-family: verdana;
  color: #35033a;
}
h2 {
  font-family: charcoal, impact;
  color: #35033a;
}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #35033a;
}
body {
  background-image: src= "https://i.pinimg.com/originals/13/22/62/132262aa80b320fc27a5e8118f25b806.jpg";
  background-color: #33ccff;
}
#mypic {
  height: 250px;
  width: 150%;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
